:root {
    --primary-colour: #202231;
    --secondary-colour: #E5E7E6;
    --tertiary-colour: #FB3640;
    --quarternary-colour: #EE6C4D;
    --background-colour: #181A25;
    --heading-colour: #EF233C;
    /*
    --primary-colour: #202231;
    --secondary-colour: #E5E7E6;
    --tertiary-colour: #A9FBD7;
    --quarternary-colour: #20A39E;
    --background-colour: #181A25;
    --heading-colour: #50E2D4

    --primary-colour: #343434;
    --secondary-colour: #FEFFFE;
    --tertiary-colour: #595959;
    --quarternary-colour: #EE6C4D;
    --background-colour: #FBFBFF;
    --heading-colour: #EF233C;
    */


}

label {
    color: var(--heading-colour);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 85vh;
    /*
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    */
}

main, footer {
    background-color: var(--background-colour);
}

section {
    margin-left: 20vw;
    margin-right: 20vw;
}


p {
    color: var(--secondary-colour);
}

#skills-div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.container {
    display: flex;
    flex-flow: column;
}

.portfolio-project {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.project-preview {
    height: 30vh;
    width: auto;
}

#title-link {
    margin-left: auto;
    margin-right: 1rem;
}

.project-block {
    display: flex;
    border: solid 1px var(--tertiary-colour);
    margin-bottom: 2rem;
}

.project-preview-div {
    height: 40vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.project-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.project-info {
    display: flex;
}

.project-page {
    display: flex;
    justify-content: space-between;
}

.projects {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.skills {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill {
    border: 1px solid;
    border-radius: 15%;
    width: 25%;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

}

.about-div {
    width: 50%;
}

.navbar {
    background-color: var(--primary-colour);
    height: 100%;
}

.year-papers h3 {
    color: var(--heading-colour);
}

body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: "Helvetica", "Roboto", "Open Sans", sans-serif;
    margin: 0 0 0 0;
}

header {
    flex: 0 0 10vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mini-portrait {
    background-image: url("../public/images/NealPhoto.jpg");
    height: auto;
    background-size: 3rem 3rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

#title-portrait{
    margin-right: 0;
}

.year-block {
    border-top: solid var(--tertiary-colour);
    display: flex;
    justify-content: space-between;
    margin-left: 20vw;
    margin-right: 20vw;
}

footer {
    flex: 0 0 5vh;
    color: var(--quarternary-colour);
    text-align: center;
}

header {
    background-color: var(--secondary-colour);
}

footer h3 {
    color: var(--secondary-colour);
}

h1 {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--heading-colour);
    align-self: flex-end;
    width: auto;
    text-align: center;
}

h2 {
    color: var(--heading-colour);
}

.projects h3 {
    color: var(--heading-colour)
}

.section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-colour);
    height: 100%;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    height: 66%;
    align-items: center;
    width: 100%;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 0;
}

nav li {
    border-width: 2px;
    border-color: var(--quarternary-colour);
    margin-right: 2vw;
    display: flex;
    align-items: center;
    border-radius: 10%;
    height: 3rem;
}

em {
    color: var(--quarternary-colour);
}

a {
    text-decoration: none;
    color: var(--heading-colour);
}

ul {
    list-style-type: none;
    padding: 0;
}

.about-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.year-block {
    display: flex;
}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: .5vw;
    width: 15vw;
    display: flex;
    justify-content: center;
}

.content-div {
    width: 50vw;
}

.content {
    margin-left: 20px;
    font-family: "Roboto", "Open Sans", sans-serif;
    color: var(--secondary-colour);
    height: 100%;
}

.portrait {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 25vh;
    width: auto;
    border-radius: 50%;
    margin-right: 5vw;
}

#skill-div {
    display: flex;
    justify-content: space-between;
}

.skills p {
    width: 75%;
}


.skill-icon {
    max-height: 10vh;
    width: auto;
    filter: invert(42%) sepia(91%) saturate(1911%) hue-rotate(151deg) brightness(98%) contrast(101%);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 60vh;
    align-self: flex-start;
}

/*
#about {
    grid-area: about;
}

#skills {
    grid-area: skills;
}

#portfolio {
    grid-area: portfolio;
}

#research {
    grid-area: research;
}

#contact {
    grid-area: contact;
}

.content {
    display: flex;
}

#projects {
    display: grid;
    grid-template-rows: 50% 25% 25%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "projectOne projectOne"
        "projectTwo projectThree"
        "projectFour projectFive";
}

#project-one {
    grid-area: projectOne;
    background-image: url("../assets/Project.jpg");
}

#project-two {
    grid-area: projectTwo;
    background-image: url("../assets/htmlCode.jpg");
}

#project-three {
    grid-area: projectThree;
    background-image: url("../assets/javascriptCode.jpg");
}

#project-four {
    grid-area: projectFour;
    background-image: url("../assets/phpCode.jpg");
}

#project-five {
    grid-area: projectFive;
    background-image: url("../assets/codeText.jpg");
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 1rem 1rem;
}

.project-image {
    height: 33%;
    width: 33%;
}
*/

.social-media-icon {
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
}

.contact {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.section-link:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--secondary-colour);
    transform: translateY(-0.1em);
    color: var(--quarternary-colour);
}

li {
    color: var(--heading-colour);
}

#about-content {
    display: flex;
    align-items: center;
    
}

#about-link:hover {
    box-shadow: 0 0.5em 0.5em -0.4em red;
}

#skills-link:hover {
    box-shadow: 0 0.5em 0.5em -0.4em orange;
}

#portfolio-link:hover {
    box-shadow: 0 0.5em 0.5em -0.4em yellow;
}

#research-link:hover {
    box-shadow: 0 0.5em 0.5em -0.4em yellowgreen;
}

#contact-link:hover {
    box-shadow: 0 0.5em 0.5em -0.4em aqua;
}

h3 {
    color: var(--heading-colour);
}

h4 {
    color: var(--tertiary-colour);
    text-align: center;
}

h5 {
    color: var(--tertiary-colour);
}

#contact a {
    color: var(--secondary-colour);
}

.social-media-icon {
    filter: invert(42%) sepia(91%) saturate(1911%) hue-rotate(151deg) brightness(98%) contrast(101%);
}

#profile-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project {
    margin: 2.5% 2.5% 2.5% 2.5%;
}

.contact li {
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project h3 {
    font-size: 4rem;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article {    
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    }

    nav ul {
        display: flex;
        justify-content: center;
        height: 66%;
        align-items: center;
        width: 50%;
        padding: 0;    
    }
}

#contact-text p {
    text-align: center;
}

.section-heading {
    display: flex;
    justify-content: center;
}